body{
    background-color: rgb(102, 1, 102);
}
.container {
max-width: 555px;
}
.header{
    border: none;
}
h1{
    color: wheat;
}
.list-group-item {
    background-color: rgba(176, 114, 196, 0.527);
    color: rgb(248, 241, 241);
}
input[type=text]{
    background-color: rgb(224, 124, 224);
    color:rgb(0, 0, 0);
    font-style:unset;
    border: none;

}
input[type=text]:focus{
    background-color: rgba(247, 212, 235, 0.678);
    border: none;
}
.label{
    color: wheat;
}
.delete{
    cursor: pointer;
    color: rgb(235, 225, 225);
}
